@import '/src/style/colors';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  min-height: 100dvh;
  min-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to bottom right, $color-back-sec 0%, $color-back-pri 50%, $color-back-sec 100%);
  color: $color-near-black;
}

body {
  height: 100%;
  width: 100%;
}

header {
  width: 100%;
  padding: 0.5rem;
  background: $color-near-black;
  color: $color-near-white;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  min-height: 100%;
  padding: 2rem;
  flex-grow: 1;
}

footer {
  width: 100%;
  background: $color-back-pri;
}

a {
  color: inherit;
  text-decoration: none;
}
