@import '/src/style/colors';

.navbar {
  min-width: 100%;
  padding: 0.5rem;
  background: $color-near-black;
  color: $color-near-white;

  span {
    font-size: 2rem;
  }

  span.logo:nth-child(1) {
    font-weight: bold;
    color: $color-near-white;
  }

  span.logo:nth-child(2) {
    color: $color-green;
  }
}

.footer {
  min-width: 100%;
  padding: 0.5rem;
  background: $color-near-black;
  color: $color-near-white;
  text-align: right;
}
