@import '/src/style/colors';

header.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

a.logo {
  font-size: 2rem;

  & span:nth-child(1) {
    font-weight: bold;
    color: $color-near-white;
  }

  & span:nth-child(2) {
    color: $color-green-bright;
  }
}

nav.navigation {
  & a {
    margin: 0 0.5rem;

    &:hover, &.active {
      color: $color-green;
    }
  }
}

footer.footer {
  min-width: 100%;
  padding: 0.5rem;
  background: $color-near-black;
  color: $color-near-white;
  text-align: right;
}
